{% extends 'base.html' %}


{% block posts %}
    <div class="jumbotron jumbotron-fluid" style="background-color: rgb(240, 240, 240);">
        <div class="container"><br>
            {% if category_posts %}
            <h3 style="text-transform: uppercase">Category | {{ cats }}</h3><br>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-6 col-md-8" style="margin-top:10px;">
            <div class="container-category-list">
                {% for post in category_posts %}
                    <div class="card mb-3" style="max-width: 100%; padding: 0px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ post.img_destaque.url }}" class="img-fluid rounded-start" alt="{{ post.img_destaque.url }}"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h6 class="card-title" style="text-transform: uppercase;">
                                        <a href="{% url 'post-single' post.pk %}">
                                            {{ post.title | slice:":71" }}
                                        </a>
                                    </h6>
                                    <span class="badge" style="color:white; font-size:12px; font-family:Calibri; margin-top: 5px; background-color: rgb(19, 19, 66);">
                                        <a href="{% url 'category' post.category %}" style="color:white; font-size:14px; font-family:Calibri; text-decoration: none; margin-top:5px;">
                                            {{ post.category }}
                                        </a>
                                    </span><br>
                                    <small class="card-text" style="margin-top:10px;">{{ post.meta_description | safe | slice:":130" }}</small>
                                    <div style="margin-top:5px;">
                                        <small style="font-size:10px;"><strong> | In:</strong> {{ post.data }}</small>
                                        <small style="font-size:10px;"> <strong> | By:</strong> {{ post.author.first_name }} {{ post.author.last_name }}</small>
                                        <center style="margin-top: 5px;">
                                            <a href="{% url 'post-single' post.pk %}">
                                                <small>Leia mais</small>
                                            </a>
                                        </center>                                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                            
                {% endfor %}    
            </div>    
        </div>
    </div>
    <center>
        <a href="{% url 'posts-list' %}" class="btn btn-outline-secondary btn-lg px-4"> <small>Go back in Posts list</small></a>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg px-4"> <small>Go back Home</small></a>
        <br/><br/>
    </center>
        {% else %}
            <div class="container-fluid">
                <div class="container">
                    <h2>Sorry! This category page does not exist!!!</h2>
                    <a href="{% url 'posts-list' %}" class="btn btn-outline-secondary btn-lg px-4"> <small>Go back in Posts list</small></a>
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg px-4"> <small>Go back Home</small></a>
                    <br/><br/>
                </div>
            </div>
        {% endif %}
{% endblock %}