{% extends 'base.html' %}

{% block title %} Create New Súmula Tribunal | Órgão {% endblock %}

{% block sumulas %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1>Add Súmulas Tribunal | Órgão</h1><br/><br/>
            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success">Add Súmula Tribunal</button>
                </form>
            </div>

            <a href="{% url 'sumulas-list' %}" class="btn btn-outline-secondary btn-lg px-4"> <small>Go back in Súmulas list</small></a>
            <a href="{% url 'home' %}" class="btn btn-outline-success btn-lg px-4"><small>Go back Home</small></a>
            <br/><br/>
        </div>
    {% else %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p style="color:red">You're not allowed here! (Post is only for admin)</p>
                <h1>============</h1>
                <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg px-4"> <small>Go back Home</small></a>
                <br/><br/>
            </div>
        </div>
    {% endif %}
{% endblock %}